.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: left;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-name {
  font-size: 1.5em;
  margin: 10px 0;
}

.card-location {
  font-size: 1em;
  color: #888;
}

.card-description {
  font-size: 0.9em;
  color: #555;
}

.edit-button,
.delete-button {
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.delete-button {
  background-color: #f44336;
}

.edit-button:hover {
  background-color: #21a1f1;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.new-trip-form {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  text-align: left;
}

.new-trip-form h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
}

.new-trip-form input,
.new-trip-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

.new-trip-form button {
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-trip-form button:hover {
  background-color: #21a1f1;
}
